head
  title /dev/med/
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(language="JavaScript", type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(language="JavaScript", type="text/javascript", src="/scripts/vendor/termlib.js")
  script(language="JavaScript", type="text/javascript", src="/scripts/devmed_term.js")