!!! 5
html
  include header
  body
  block content
    h1 /dev/med/
    i.sub Powered by&nbsp;
      a(href='http://coffeegrid.org') CoffeeGrid
    .message
      span.keyword  Share
      |  your problems and solutions,
      span.keyword  learn
      |  from others,
      span.keyword  solve
      |  it together,
      span  have a
      span.keyword   beer.

    #termDiv